---
---

@import "{{ site.theme }}";

body {
  background: white;
}

#container {
  background: white;
}

.home .site-header {
    display: none;
}

/*
.header { 
   background: url(sussistrom.github.io/wghbygg.jpg); 
} 

img {
  max-width: 500px;
}
*/

a {
  color: #3c3c3c;
}

a:hover {
  color: gray;
  text-decoration: underline;
}

.wghbygg {
  height: auto;
  width: -webkit-fill-available;
}

.uc {
  width: 320px;
}

.instagram {
  width: 100px;
}
