---
---

@import "{{ site.theme }}";

/* body {
  background: white;
}

#container {
  background: white;
}

img {
  max-width: 500px;
}
*/

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: gray;
}

.uc {
  width: 500px;
}

.instagram {
  width: 100px;
}
